<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/script.js" defer></script>
    <script type="module" src="/scripts/script-carrinho.js" defer></script>
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="/src/logo.png" alt="logo">
            <h1 class="header__titulo">Mat & Mat Cosméticos</h1>
            <div class="header__icones">
                <button id="menu-toggle" class="menu-toggle">
                    <img src="/src/menu.png" alt="Menu">
                </button>
                <button onclick="window.location.href = '/views/favoritos.html';"><img src="/src/favorites.png"
                        alt="Imagem dos favoritos"></button>
                <button onclick="window.location.href = '/views/carrinho.html';"><img src="/src/carrinho__compras.png"
                        alt="Imagem do carrinho de compras"></button>
            </div>
        </div>
    </header>
    <div>
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/index.html">Início</a></li>
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/views/cabelo.html">Cabelo</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/estetica.html">Estética</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/views/higiene.html">Higiene</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/manicure.html">Manicure</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/maquiagem.html">Maquiagem</a></li>
            </ul>
        </nav>
    </div>
    <div class="carrinho__div__principal">
        <div class="carrinho__vazio">
            <div class="sacola__vazia">
                <div class="sacola__vazia__img">
                    <img src="/src/sacolaVazia.png" alt="Sacola vazia">
                </div>
                <div class="sacola__vazia__infos">
                    <h2>Sua sacola está vazia</h2>
                    <p>Você ainda não adicionou nenhum produto à sacola :(</p>
                    <a href="/index.html">Continuar comprando ></a>
                </div>
            </div>
        </div>
        <div class="carrinho__cheio">
            <div class="carrinho__cheio__h2">
                <h2></h2>
            </div>
            <div class="carrinho__item__infos">
                <div class="carrinho__item__infos__produto">
                    <div class="carrinho__item__infos__produto__nome">
                        <h3>Produto</h3>
                    </div>
                    <div class="carrinho__item__infos__produto__quantidade">
                        <h3>Quantidade</h3>
                    </div>
                    <div class="carrinho__item__infos__produto__preco">
                        <h3>Preco</h3>
                    </div>
                </div>
            </div>
            <div class="carrinho__cheio__itens">
            </div>
            <div class="carrinho__cheio__comprar">
            </div>


        </div>
        <h2 class="carrossel__conteudo__texto">Aproveite e adicione à sua sacola</h2>
        <div class="carrossel">
            <button class="carrossel__nav carrossel__nav--left">&lt;</button>

            <div class="carrossel__conteudo">

            </div>
            <button class="carrossel__nav carrossel__nav--right">&gt;</button>
        </div>
        <div class="formas__pagamento">
            <h3>Meios de pagamento</h3>
            <div class="formas__pagamento__imagens">
                <img src="/src/meioPagamento01.png" alt="Pagamento 1">
                <img src="/src/meioPagamento02.png" alt="Pagamento 2">
                <img src="/src/meioPagamento03.png" alt="Pagamento 3">
            </div>
        </div>
    </div>
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <div class="modal-header">
                <span class="modal-close" id="modalClose">&times;</span>
            </div>
            <div class="modal-content" id="modalContent"></div>
        </div>
    </div>
    <footer>
        <div class="footer__content">
            <div class="footer__credit">
                Feito por Matheus Poss
            </div>
            <div class="footer__social">
                <span class="footer__social__iten">
                    <a target="_blank" href="https://www.linkedin.com/in/matheus-poss-4b09b4234/"> <img
                            src="/src/linkedin.png" alt="imagem Linkedin"></a>
                    <a target="_blank" href="https://github.com/Matposs"><img src="/src/github.png"
                            alt="imagem GitHub"></a>
                    <a target="_blank" href="https://matposs.github.io/PortfolioPessoal/"><img src="/src/foto.png"
                            alt="imagem Pessoal"></a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>