<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/script.js"></script>
    <script type="module" src="/scripts/script-criar-conta.js"></script>
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="/src/logo.png" alt="logo">
            <h1 class="header__titulo">Mat & Mat Cosméticos</h1>
            <div class="header__icones">
                <button id="menu-toggle" class="menu-toggle">
                    <img src="/src/menu.png" alt="Menu">
                </button>
                <button onclick="window.location.href = '/views/login.html'" id="user-button" class="user-button">
                    <img src="/src/userLogo.png" alt="Usuario png" class="user-button-img">
                </button>
                <button onclick="window.location.href = '/views/favoritos.html';"><img src="/src/favorites.png"
                        alt="Imagem dos favoritos"></button>
                <button onclick="window.location.href = '/views/carrinho.html';"><img src="/src/carrinho__compras.png"
                        alt="Imagem do carrinho de compras"></button>
            </div>
        </div>
    </header>
    <div>
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/index.html">Início</a></li>
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/views/cabelo.html">Cabelo</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/estetica.html">Estética</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/views/higiene.html">Higiene</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/manicure.html">Manicure</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/maquiagem.html">Maquiagem</a></li>
            </ul>
        </nav>
    </div>
    <div class="container criar-conta-container">
        <h2>Criar Conta</h2>
        <form id="signupForm" class="signup-form">
            <label for="nome">Nome:</label>
            <input autofocus type="text" id="nome" name="nome" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <label for="senhaConfirmar">Confirme sua senha:</label>
            <input type="password" id="senhaConfirmar" name="senhaConfirmar" required>
            <button type="submit">Criar Conta</button>
        </form>
        <p>Já tem uma conta? <a href="login.html">Faça login!</a></p>
    </div>
    <footer>
        <div class="footer__content">
            <div class="footer__credit">
                Feito por Matheus Poss
            </div>
            <div class="footer__social">
                <span class="footer__social__iten">
                    <a target="_blank" href="https://www.linkedin.com/in/matheus-poss-4b09b4234/"> <img
                            src="/src/linkedin.png" alt="imagem Linkedin"></a>
                    <a target="_blank" href="https://github.com/Matposs"><img src="/src/github.png"
                            alt="imagem GitHub"></a>
                    <a target="_blank" href="https://matposs.github.io/PortfolioPessoal/"><img src="/src/foto.png"
                            alt="imagem Pessoal"></a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>