<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/script.js"></script>
    <script type="module" src="/scripts/script-login.js"></script>
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="/src/logo.png" alt="logo">
            <h1 class="header__titulo">Mat & Mat Cosméticos</h1>
            <div class="header__icones">
                <button id="menu-toggle" class="menu-toggle">
                    <img src="/src/menu.png" alt="Menu">
                </button>
                <button onclick="window.location.href = '/views/login.html'" id="user-button" class="user-button">
                    <img src="/src/userLogo.png" alt="Usuario png" class="user-button-img">
                </button>
                <button onclick="window.location.href = '/views/favoritos.html';"><img src="/src/favorites.png"
                        alt="Imagem dos favoritos"></button>
                <button onclick="window.location.href = '/views/carrinho.html';"><img src="/src/carrinho__compras.png"
                        alt="Imagem do carrinho de compras"></button>
            </div>
        </div>
    </header>
    <div>
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/index.html">Início</a></li>
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/views/cabelo.html">Cabelo</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/estetica.html">Estética</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link" href="/views/higiene.html">Higiene</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/manicure.html">Manicure</a>
                </li>
                <li class="menu__lista__item"><a class="menu__lista__item__link"
                        href="/views/maquiagem.html">Maquiagem</a></li>
            </ul>
        </nav>
    </div>
    <div class="container login-container" id="login-container">
        <h2>Login</h2>
        <form id="loginForm" class="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="criar-conta.html">Crie uma agora!</a></p>
    </div>
    <div class="container" id="welcome-container" style="display: none; min-height:50vh;">
        <h2 id="welcome-message"></h2>
        <button id="logout-button">Logout</button>
    </div>
    <footer>
        <div class="footer__content">
            <div class="footer__credit">
                Feito por Matheus Poss
            </div>
            <div class="footer__social">
                <span class="footer__social__iten">
                    <a target="_blank" href="https://www.linkedin.com/in/matheus-poss-4b09b4234/"> <img
                            src="/src/linkedin.png" alt="imagem Linkedin"></a>
                    <a target="_blank" href="https://github.com/Matposs"><img src="/src/github.png"
                            alt="imagem GitHub"></a>
                    <a target="_blank" href="https://matposs.github.io/PortfolioPessoal/"><img src="/src/foto.png"
                            alt="imagem Pessoal"></a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>